{% extends 'astro_app/base.html' %}
{% block title %}signup page{% endblock %}
{%load static%}
{% block body %}
<form method="post" class="signup-form" style="margin-left: 30%; height: 570px; margin-top: 1%;">
  <h2 style="margin-left: 25%; margin-top: -5%;">Signup Page</h2>
  {% csrf_token %}
  <table>
    {{ data.email.label_tag }}
    {{ data.email }}
    {{ data.email.errors }}
    
    {{ data.first_name.label_tag }}
    {{ data.first_name }}
    {{ data.first_name.errors }}
    
    {{ data.last_name.label_tag }}
    {{ data.last_name }}
    {{ data.last_name.errors }}

    {{ data.phone_number.label_tag }}
    {{ data.phone_number }}
    {{ data.phone_number.errors }}
    
    {{ data.password.label_tag }}
    {{ data.password }}
    {{ data.password.errors }}
    
    {{ data.Retype_password.label_tag }}
    {{ data.Retype_password }}
    {{ data.Retype_password.errors }}
  </table>
  
  <div style="text-align: center; margin-top: -50px;">
    <input type="submit" value="Submit" style="width: 100px; padding: 5px;">
  </div>
</form>

<style>
  input[type="text"], input[type="email"], input[type="password"] {
    width: 90%;
    margin-bottom: 5%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
  }
</style>
{% endblock %}
